<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="http://127.0.0.1:8000/" class="w3-bar-item w3-button">Home</a>
  <a href="http://127.0.0.1:8000/waitlist/" class="w3-bar-item w3-button">Waitlist</a>
  <a href="http://127.0.0.1:8000/tables/" class="w3-bar-item w3-button">Tables</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

<div class="w3-container w3-dark-grey">
  <h1>web4.0's Restaurant Manager</h1>
</div>

</div>

</body>
</html>
