{% extends 'base.html' %}

{% block content %}
<div style="margin-left:25%">
<h1>Waitlist</h1>

<h5>Add to Waitlist</h5>

<form action = '.' method = 'POST'>
    {% csrf_token %}
    {{ formW.as_p }}
    <input type = 'submit' value = 'Add' />
</form>

<style >
table {
  font-family: verdana, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid black;
  text-align: middle;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #D6EAF8;
}
</style>

<h2>Current Waitlist</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Party Size</th>
    <th>Arrival Time</th>
    <th>Wait Time</th>
    <th>Assignment Suggestion</th>
    <th>Assign</th>
  </tr>
  <tr>
    {% for party in waitlist %}
        <td>{{ party.name }}
        <td>{{ party.party_size }}
        <td>{{ party.arrival_time }}
        <td>{{ party.wait_time }}
        <td>Table {{ party.assign_suggestion }}
        <td>
          <form action = '.' method = 'POST'>
            {% csrf_token %}
            {{ formA.as_p }}
            <input type = 'submit' value = 'Assign' />
          </form>
  </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
